<app-header></app-header>

<ion-content>
  <div class="page-title">
    <img src="../../../assets/images/manage-attend.png" alt="" />
    <h3>Manage Attendance</h3>
  </div>

  <ion-grid class="employes">
    <ion-row class="ion-justify-content-center">
      <ion-col
        (click)="setOpen(employee.id)"
        size-xs="4"
        size-sm="2"
        *ngFor="let employee of listOfEmployee"
      >
        <div class="employee" expand="block">
          <ion-img [src]="employee.imagePath"> </ion-img>
          <h3>{{ employee.firstName}}</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Modal -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="form-group-custom">
          <ion-label>Enter pinCode</ion-label>
          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="{length:6}"
          ></ng-otp-input>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal -->
</ion-content>
