<ion-tabs>
    <ion-tab-bar class="my-custom-tab-bar">
      <ion-tab-button tab="add-bus">
        <ion-img class="footer-img" src="../../assets/images/add-bus.png"></ion-img>
        <ion-label>Add Busses </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="choose-bus" >
        <ion-img class="footer-img" src="../../assets/images/buses.png"></ion-img>
        <ion-label>Busses</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="all-employee">
        <ion-img class="footer-img" src="../../assets/images/attendance.png"></ion-img>
        <ion-label>Attendance</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>