<app-header></app-header>

<ion-content>
  <div class="page-title">
    <img src="../../../assets/images/manage-attend.png" alt="" />
    <h3>Manage Attendance</h3>
  </div>

  <div class="attendance-check-info">
    <div class="image-info" *ngIf="employByPinCode">
      <img [src]="employByPinCode.imagePath" alt="" />
    </div>

    <div class="text-info">
      <ul *ngIf="employByPinCode">
        <li class="name">
          {{ employByPinCode.firstName }} {{ employByPinCode.lastName }}
        </li>
        <li>ID: {{ employByPinCode.serialId }}</li>
        <li *ngIf="employByPinCode.jobTitle === 1 ">Job Type: Fulltime</li>
        <li *ngIf="employByPinCode.jobTitle === 2 ">Job Type: Parttime</li>
        <li *ngIf="employByPinCode.jobTitle === 3 ">Job Type: Hourly Based</li>
      </ul>
    </div>
    <div
      style="color: #0e829b"
      *ngIf="!employByPinCode && employByPinCode == null"
    >
      No employee please choose employee
    </div>
  </div>

  <div class="btn-check">
    <button
      [class]="{'un-checked' : !checkIn, 'checked': checkIn }"
      s
      id="open-modal"
      expand="block"
    >
      Check In
    </button>

    <button
      [class]="{'un-checked' : !isTakeBreak, 'checked': isTakeBreak}"
      *ngIf="!isTakeBreak"
      expand="block"
      (click)="setOpenTake()"
    >
      Take Break
    </button>
    <button *ngIf="isTakeBreak" class="checked" (click)="setOpenBack()">
      Back to work
    </button>
    <div class="take-brake">
      <div class="time-take-break" *ngFor="let timeBreake of takeFromTime">
        <div class="time-block">
          <p>From</p>
          <span class="time"> {{ timeBreake.from | date: 'shortTime' }} </span>
        </div>
        <div class="time-block">
          <p>Total Time Break</p>
          <span class="time"> {{ timeBreake.totalBreakHours }}</span>
        </div>
      </div>
    </div>

    <button
      [disabled]="isTakeBreak || isCheckOut"
      (click)="setOpenCheckout()"
      class="un-checked"
    >
      Check Out
    </button>
  </div>

  <!-- Modal -->
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="form-group-custom">
          <ion-label>Enter pinCode</ion-label>
          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="{length:6}"
          ></ng-otp-input>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal -->

  <!-- Modal take break -->
  <ion-modal [isOpen]="isModalOpenTakeBreak">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelTakeBreak()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirmTakeBreak()" [strong]="true"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="form-group-custom">
          <ion-label>Enter pinCode</ion-label>
          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="{length:6}"
          ></ng-otp-input>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal take break -->

  <!-- Modal check out -->
  <ion-modal [isOpen]="isModalOpenCheckout">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelCheckout()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirmCheckout()" [strong]="true"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding ion-text-center">
        <div class="form-group-custom">
          <ion-label>Enter pinCode</ion-label>
          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="{length:6}"
          ></ng-otp-input>
        </div>
        <h3>You are checking out now</h3>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal check out -->

  <!-- Modal back to work -->
  <ion-modal [isOpen]="isModalOpenBack">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelBackToWork()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirmBackToWork()" [strong]="true"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding ion-text-center">
        <div class="form-group-custom">
          <ion-label>Enter pinCode</ion-label>
          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="{length:6}"
          ></ng-otp-input>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal back to woork -->
</ion-content>
